body {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  color: rgba(0, 0, 0, 0.65);
}
.page-wraper {
  background: linear-gradient(to right, #58a 20%, #fb3 60%);
  height: 100%;
  width: 100%;
}
.sider-menu {
  position: relative;
}
.sider-menu .toggleCollapsed {
  position: absolute;
  top: 40%;
  right: -20px;
  padding: 10px;
  font-size: 20px;
  color: #40a9ff;
  cursor: pointer;
}
.main-breadcrumb {
  padding: 20px 10px;
}
.main {
  padding: 0px 15px;
}
.main-body {
  background: #FFF;
}
.form-filed {
  padding: 20px 10px;
}
.table-list {
  font-size: 14px;
}
.main-foot {
  padding: 15px;
  text-align: center;
}
