.page-wraper{
  height: 100%;
  width: 100%;
}

// 侧边导航样式
.sider-menu{
  position: relative;
 .toggleCollapsed{
   position: absolute;
   top: 40%;
   right: -20px;
   padding: 10px;
   font-size: 20px;
   color:#40a9ff;
   cursor: pointer;

 }
}

//主题内容样式
.main{
  padding:0px 15px;
}
.main-body{
background: #FFF;
}


 